* {box-sizing: border-box;
 margin: 0;
padding: 0;}

/*
fuentes
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Concert One', cursive;
*/



main {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: none;
    color: #0e0b02;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}



body {
    margin: 0;
    padding: 0;
    background-color:#727070 ;
    background-image:url(https://st2.depositphotos.com/3423429/9802/v/950/depositphotos_98025388-stock-illustration-hand-drawn-doodle-set-with.jpg);
}



/*Navbar*/
.navbar {
    width: 100%;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1deaa;
    color: brown;
    box-shadow:#000000;
    box-shadow: 2px 10px 15px -1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 2px 10px 15px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 10px 15px -1px rgba(0,0,0,0.52);
}

#navPrice{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 8px;
    display: flex;
    color: green;
    justify-content: center;
    align-items: center;
}

.logo {margin: 10px;}

.fa-shopping-cart {
    font-size: 20;
    color: black;
}

.fa-shopping-cart:hover {
    color: #4D9F54;
}

.paginas ul {
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
    display: flex;
    font: bold 16px sans-serif;
}

.paginas li {
    list-style: none;

}

.paginas li a {
    font-family: 'Ubuntu Condensed', sans-serif, bold;
    text-decoration: none;
    color: black;
    padding: 16px;
    display: block;
    font-size: 18px;
}

.paginas li a:hover {
    color: #d6715fda;
}

.list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 50px 0px 50px 0px;
    width: 100%;
}



.button {
    position: absolute;
    top: 40px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}
.button .bar {
    height: 3px;
    width: 100%;
    background-color: #d6715fda;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*Tarjetas*/


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin: 20px;
    background-color:#f1deaa ;
    box-shadow: 2px 10px 15px -1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 2px 10px 15px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 10px 15px -1px rgba(0,0,0,0.52);
}

.card img {
    width: 200px;
    border-radius: 5px;  
    margin-bottom: 8px;
}
.card .state { 
    width: 150px;
    box-shadow: 0px 1px 65px -90px rgba(255,241,139,0.75);
    -webkit-box-shadow: 0px 1px 65px -90px rgba(255,241,139,0.75);
    -moz-box-shadow: 0px 1px 65px -90px rgba(255,241,139,0.75);
}

.card-title {
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.card-text {
    padding: 1px;
    margin: 1px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    
}

.card-price {
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    
}

.btn{
    display: inline-flex;
    border-radius: 5px;
    width: 100%;
    height:50px;
    padding: 15px;
    background: #14141463;
    color: #0e0b02;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    border: 2px solid #000000;
    border-bottom: 5px solid black;
    padding-bottom: 17px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .2s ease all;
}
.btn:hover {
    background: #4D9F54;
}

.swal2-container {
    font-family: 'Ubuntu Condensed', sans-serif;
}


.right {
    position: relative;
    text-align: center;
    position: right;
    width: 80px;
    border: none;
    text-align: center;
    margin-right: 20px;
    border-radius: 5px;
    color: #0e0b02;
    font-family: 'Ubuntu Condensed', sans-serif;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 16px;
    text-align: center;
    float: right;
}


/* Modal */
.modal-container {
    display: none;
    position: fixed; 
    width: 100%;
    
  } 

/* hacer visible el modal  */
.modal-container.active {
    display: flex;
    justify-content: center;  
  }
  
.modal-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: fit-content;
    background-color: #fff1ccfd ;
    border-radius: 10px ;
    
  }

.shopping-chart {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 600px;
    overflow-y: auto;

}
  
.chartProduct {
    font-size: 16px;
    width: 480px;
    margin: 5px 0;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
  

  .boton-cerrar {
    border: none;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    width: 20px;
    height:20px;
    background: #14141463;
    color: #0e0b02;
    font-family: 'Ubuntu Condensed', sans-serif;
    cursor: pointer;

  }
  .boton-eliminar {
    display: inline-flex;
    border-radius: 5px;
    height:50px;
    padding: 15px;
    background: #14141463;
    color: #0e0b02;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .2s ease all;
  }
  .boton-eliminar:hover {
    background:#d6715fda;
}

.chartclose {
    width: 100%;
    display: flex;
    justify-content: end;
}
.top-chart {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
  
  .total {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }

  #totalPrice {
    color: green;
  }



.emptyChart {
    font-size: 20px;
    margin: 10px;
}

.footer-distributed{
	background: #f1deaa;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a:hover {
    color: #d6715fda;
}

.footer-distributed .footer-links a{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
	display:flex;
    flex-direction: column;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
    font-family: 'Ubuntu Condensed', sans-serif;
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: black;
}

/*formulario */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  whitesmoke;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #000000;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color: #5c666b ;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}


footer .btn{
width: 30%;
}

@media (max-width: 400px) {
    .chartProduct {
        width: 220px;
    }
    }


@media (max-width: 500px) {
.chartProduct {
    width: 400px;
}
}

@media (max-width: 600px) {
 .logo {
    margin: 10px;
 }
 .paginas ul {
    margin: 0px;
 }
}


@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
.banner {
    width: 100%;        
}
